body {
    margin: 20px 50px;   
    background-color: #FFFFDD;

}
p {
    line-height: 1.2;
    text-align: justify;
    margin-bottom: 20px;
}
ul {
    line-height: 1.4;
}
details {
    line-height: 1.2;
}
.paragrafo-de-artigo + .paragrafo-de-artigo {
    padding-top: 0;
}
 
.paragrafo-de-artigo {
    background-color: #053B50;
    color: aquamarine;
    padding: 20px;
    border-radius: 20px;
    margin: 0;
    }

.titulo-de-artigo {
    color:#053B50;
    line-height: 3;
    font-weight: bold;
    font-size: 24pt;
    font-style: italic;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
    
.titulo-de-pagina {
    color:#176B87;
    line-height: 2;
    font-weight: bold;
    font-size: 20pt;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.subtitulo-de-pagina {
    color:#176B87;
    line-height: 2;
    font-weight: bold;
    font-size: 16pt;
    font-style: italic;    
    font-family: Arial, Helvetica, sans-serif;
}






